@model IEnumerable<OopProject.Models.Admin>

@{
    ViewData["Title"] = "All Admin";
}
<partial name="/Views/Shared/_HeaderAdmin.cshtml"></partial>
<body>
<div class="row AllAdmin mx-auto">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @{
                    var successMessage = TempData["SuccessMessage"] as string;
                }
                @if (!string.IsNullOrEmpty(successMessage))
                {
                    <div class="alert alert-success">
                        @successMessage
                    </div>
                }
                <h5 class="card-title mb-4 d-inline">Admins</h5>
                <a asp-controller="Admin" asp-action="CreateAdmin" class="btn btn-custom mb-4 text-center float-right">Create Admins</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">AdminName</th>
                            <th scope="col">Email</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var admin in Model)
                        {
                            <tr>
                                <th scope="row">@admin.Id</th>
                                <td>@admin.AdminName</td>
                                <td>@admin.Email</td>
                                <td>
                                    <a asp-controller="Admin"
                                       asp-action="UpdateAdmin"
                                       asp-route-id="@admin.Id"
                                       class="btn btn-warning text-white text-center">
                                        Update
                                    </a>
                                </td>
                                <td>
                                    <!-- Form for Deleting Admin/reflect sa db -->
                                    <form method="post" asp-controller="Admin" asp-action="DeleteAdminConfirmed" asp-route-id="@admin.Id">
                                        <button type="submit" class="btn btn-danger text-center delete-button">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="~/js/mainscript.js"></script>
</body>