
    <div class="containerheader">
        <nav class="pr-custom">
                <h2 class="text-brown use-font weight">Admin Dashboard</h2>


    <!-- Top Navigation Links -->
    <ul class="">
        <li class="nav-item">
            <a class="" href="@Url.Action("Index", "Admin")">Home</a>
        </li>
                <!-- Link for non-authenticated users -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home")">Go Back to Website</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </a>
            <div class="dropdown-content" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="@Url.Action("Logout", "Account")" 
                   onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    Logout
                </a>
                <form id="logout-form" action="@Url.Action("Index", "Home")" method="POST" class="d-none">
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </li>
    </ul>
</nav>
</div>


