@model IEnumerable<OopProject.Models.Book>

@{
    ViewData["Title"] = "Books by Category";
}

<partial name="/Views/Shared/_Header.cshtml" />
<br>
<section class="ftco-section bg-light ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters">
            @if (Model != null && Model.Any())
            {
                foreach (var book in Model)
                {
                    var imagePath = string.IsNullOrEmpty(book.Image)
                    ? Url.Content("~/images/books/default.png")
                    : book.Image;

                    <div class="col-lg-6">
                        <div class="room-wrap d-md-flex">
                            <a href="@Url.Action("BookDetails", "Books", new { id = book.Id })"
                               class="img"
                               style="background-image: url('@imagePath');">
                            </a>
                            <div class="half left-arrow d-flex align-items-center">
                                <div class="text p-4 p-xl-5 text-center">
                                    <p class="star mb-0">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>

                                    <h3 class="mb-3 weight">
                                        <a href="@Url.Action("BookDetails", "Books", new { id = book.Id })"
                                           style="text-decoration: none">
                                            @book.BookTitle
                                        </a>
                                    </h3>
                                    <ul class="book-details">
                                        <li>Genre: <span>@string.Join(", ", book.BookCategories.Select(bc => bc.Category.CategoryName))</span></li>
                                        <li>Author: <span>@book.Author</span></li>
                                        <li>Year of Publication: <span>@book.PublicationYear</span></li>
                                    </ul>
                                    <p class="pt-1">
                                        <a class="btn-custom px-3 py-2"
                                           asp-controller="Books"
                                           asp-action="BookDetails"
                                           asp-route-id="@book.Id">
                                            Description<span class="icon-long-arrow-right"></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="text-center">No books found for this category.</p>
            }

        </div>
    </div>
</section>
<br>
<partial name="/Views/Shared/_Footer.cshtml" />
