@model IEnumerable<OopProject.Models.Request>

@{
    ViewData["Title"] = "My Request";
}
<partial name="/Views/Shared/_Header.cshtml"></partial>

<div class="requestbookscontainer js-fullheight mx-auto">
    <div class="container">
        <div class="row mt-5 slider-text justify-content-center" data-scrollax-parent="true">
            <div class="col-md-12 ftco-animate">
                <h1 class="text-center">My Requests</h1>

                <div class="table-container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Category of Book</th>
                                <th scope="col">Book Name</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var request in Model)
                            {
                                <tr>
                                    <td>@request.Name</td>
                                    <td>@request.Email</td>
                                    <td>@request.PhoneNumber</td>
                                    <td>
                                        @if (request.Book?.BookCategories?.Any() == true)
                                        {
                                            @request.Book.BookCategories.FirstOrDefault()?.Category?.CategoryName
                                        }
                                        else
                                        {
                                            @:No Category
                                                            }
                                    </td>
                                    <td>@request.Book?.BookTitle</td>
                                    <td>@request.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="/Views/Shared/_Footer.cshtml"></partial>
