@model IEnumerable<OopProject.Models.Request>
@{
    ViewData["Title"] = "My Request";
}
<partial name="/Views/Shared/_Header.cshtml"></partial>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4 d-inline">My Requests</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Category of Book</th>
                                <th scope="col">Book Name</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var request in Model)
                            {
                                <tr>
                                    <td>@request.Name</td>
                                    <td>@request.Email</td>
                                    <td>@request.PhoneNumber</td>
                                    <td>
                                        @if (request.Book?.BookCategories?.Any() == true)
                                        {
                                            @request.Book.BookCategories.FirstOrDefault()?.Category?.CategoryName
                                        }
                                        else
                                        {
                                            @:No Category
                                                            }
                                    </td>
                                    <td>@request.Book?.BookTitle</td>
                                    <td>@request.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<partial name="/Views/Shared/_Footer.cshtml"></partial>
