@model IEnumerable<OopProject.Models.Book>

@{
    ViewData["Title"] = "All Books";
}

<partial name="/Views/Shared/_HeaderAdmin.cshtml"></partial>
<body>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }

                <h5 class="card-title mb-4 d-inline">All Books Available</h5>
                <a asp-controller="BooksAdmin" asp-action="AddBooks" class="btn btn-custom mb-4 text-center float-right">Add Books</a>

                @if (Model == null || !Model.Any())
                {
                    <p>No books available.</p>
                }
                else
                {
                    <table class="table mt-5">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Publication year</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Author</th>
                                <th scope="col">Author Description</th>
                                <th scope="col">Update</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var book in Model)
                            {
                                <tr>
                                    <th scope="row">@book.Id</th>
                                    <td>@book.BookTitle</td>
                                    <td>
                                        @foreach (var category in book.BookCategories.Select(bc => bc.Category))
                                        {
                                            <span>@category.CategoryName</span>
                                        }
                                    </td>
                                    <td>@book.PublicationYear</td>
                                    <td>@book.BookDescription</td>
                                    <td>
                                        <img src="@book.Image" alt="@book.BookTitle" style="width: 50px; height: auto;" />
                                    </td>
                                    <td>@book.Author</td>
                                    <td>@book.AuthorDescription</td>
                                    <td>
                                        <a asp-controller="BooksAdmin" asp-action="UpdateBooks" asp-route-id="@book.Id" class="btn btn-warning">
                                            Update
                                        </a>

                                        </td>
                                    <td>
                                        <!-- Delete Button -->
                                        <form method="post" asp-controller="BooksAdmin" asp-action="DeleteBookConfirmed" asp-route-id="@book.Id" class="delete-form" onsubmit="return confirmDelete();">
                                            <button type="submit" class="btn btn-danger text-center delete-button">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                }
            </div>
        </div>
    </div>
</div>
    <script src="~/js/mainscript.js"></script>
</body>