


@{
    ViewData["Title"] = "Home Page";
}
<partial name="/Views/Shared/_Header.cshtml" />
<br>
<div class="hero-wrap js-fullheight bodybg">

    <div class="overlay"></div>

    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <!---->
            <div class="col-md-7 ftco-animate">
                <h2 class="subheading"><b class="font-size text-white">Welcome to Online Bookstore</b></h2>
                <h1 class="mb-3 font-size-h1">Find your favorite books!</h1>
                <p>
                    <a href="@Url.Action("About", "Home")" class="btn btn-primary">Learn more</a>
                    <a href="@Url.Action("Contact", "Home")" class="btn btn-secondary">Contact us</a>
                </p>
            </div>
        </div>

</div>

<section class="ftco-section ftco-services customcategorycontainermain">
    <div class="container customcategorycontainer">
        <div class="row">
            @foreach (var category in ViewBag.Categories as List<Category>)
            {
                // Check if category.Image is null or empty, and use a default image if so
                var imageUrl = string.IsNullOrEmpty(category.Image)
                ? "/images/Sampleimg.jpg"  // Default image
                : category.Image;  // Use the path stored in the database (relative to the root)

                <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate customcardcategory">
                    <div class="d-block services-wrap text-center">
                        <!-- Dynamically set the background image using the determined image URL -->
                        <div class="img" style="background-image: url('@Url.Content(imageUrl)');"></div>
                        <div class="media-body py-4 px-3">
                            <h3 class="heading">@category.CategoryName</h3>  <!-- Dynamically display the category name -->
                            <p>@category.Description</p>  <!-- Dynamically display the category description -->
                            <p><a asp-controller="Books" asp-action="PerCategory" asp-route-categoryId="@category.Id" class="btn btn-custom">View Books</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



<partial name="/Views/Shared/_Footer.cshtml" />
